<h1 class="cleaning-details">Guaranteed to be Clean:</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Entry Way</th>
            <th>Living Room</th>
            <th>Bathroom</th>
            <th>Kitchen</th>
        </tr>
        <tr>
            <td>Dust Shelves</td>
            <td>Fire Place</td>
            <td>Sink, Toilet, & Tub</td>
            <td>Deep Clean Microwave</td>
        </tr>
        <tr>
            <td>Mop</td>
            <td>Polish Wood Furniture</td>
            <td>Counter's & Faucets</td>
            <td>Sink & Faucets</td>
        </tr>
        <tr>
            <td>Sweep & Vacuum</td>
            <td>Wipe Doors</td>
            <td>Sweep & Mop</td>
            <td>Stove Tops</td>
        </tr>
        <tr>
            <td>Empty Trash</td>
            <td>Clean Blinds</td>
            <td>Mop Floors</td>
            <td>Wipe Down All Fixtures</td>
        </tr>
    </table>

    <span class="span5 prices">
        <a role="button" class="btn btn-primary btn-lg btn-block" href="contact">Prices</a>
    </span>

<div id="hidden">
    <div class="hidden"></div>
</div>


<div class="span12 locations">
  <h3>Location's of Service:</h3>
  <ul>
    <li>Alpharetta</li>
    <li>Atlanta</li>
    <li>Marietta</li>
    <li>Newnan</li>
    <li>Fayettville</li>
    <li><strong>And More!</strong></li>
  </ul>
</div> 


<div class="map">
    <%= image_tag "atlanta.jpeg" %>
</div>