<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Ferguson's Cleaning Solution</h1>
        <p>We are one of Atlanta's premier home cleaning services. Like our regular clients, you probably want a thoroughly clean house hold, from top to bottom, but may not have a lot of time to keep up with it's constant demands. Not a problem; that's where we come in! With competitive pricing and 
          an eye for perfection, we'll make sure your home looks like it's still brand new.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="about">Learn more &raquo;</a></p>
      </div>
</div>


<div class="container center">
            <%= image_tag "home1.jpg" %>
</div>



